.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E8FAEA;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#searchTitle {
    padding-top: 95px;
    font-size: 3em;
    color: black;
    text-align: center;
}

.searchButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    width: 15%;
    height: 150px;
    animation: none;
    margin-top: 25px;
    padding: 10px;
}

.searchbar {
    display: flex;
    justify-content: center;
    height: 150px;
    font-size: 70px;
    margin-top: 25px;
    width: 100%;
}

.autocomplete-list button {
    width: 100%;
    background-color: white;
    color: black;
    border: unset;
    background: unset;
}

.autocomplete-list button:hover {
    background-color: rgb(184, 181, 181);
}

.autocomplete-list {
    list-style: none;
    padding: unset;
    margin: unset;
}

.autocomplete-list li {
    border: 1px solid black;
}
.searchbar::placeholder {
    opacity: 0.3;
    animation: fadeOut 500ms;
}

.disappear {
    animation-name: fadeAway;
    animation-duration: 500ms;
}

.reappear {
    animation-name: fadeIn;
    animation-duration: 20ms;
}

@keyframes fadeAway {
    from {
        opacity: .3;
    }
    to {
        opacity: 0;
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .3;
    }
}